<header id="header" class="header bg-white">

  {%include util/google-translate.html%}

    <div class="navbar-container">
        <a href="{{ '/' | prepend: site.baseurl }}" class="navbar-logo">
            <img src="{{ '/assets/images/logo_credit.png' | prepend: site.baseurl }}" alt="{{ site.name }}" />
            <span>{{ site.name }}</span>
        </a>

        <div class="topnav" id="myTopnav">
          <a href="{{ '#' | prepend: site.baseurl }}"> </a>
          <a href="{{ '/' | prepend: site.baseurl }}">最新消息</a>
          <a href="{{ '/archives' | prepend: site.baseurl }}">歷年資訊</a>
          <a href="{{ '/about' | prepend: site.baseurl }}">關於本站</a>
          {%include util/google-translate-drop-button.html %}
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>

        </div>
    </div>

    <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>
</header>
