/* ===============
	COLORS
=============== */


:root {
  --primary-color: #679399;
  --secondary-color: #E6C8D7;
  --third-color: #B0E0E6;
  --four-times-color: #E6DD9A;
  --five-times-color: #99946E;

  --secondary-color-more-1: #80463C;
  --four-times-color-more-1: #666244;
}
